body{
    overflow: hidden;
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
    border: dotted blue 3px;
    padding: 14px;
    background: #e4f8ff;
    text-align: center;
}
.mainDivHidden{
    visibility: hidden;
}
#piImage{
    width: 96px;
}
#guessedDigitsInput{
    width: 1495px;
    height: 15px;
    resize: none;
}
#gameOverPopup{
    visibility: hidden;
}
.videoDiv{
    visibility: hidden;
}
.videoDivVisible{
    top: 2%;
    position: absolute;
    visibility: visible;
}